[Unit]
Description=Bridgehead (%i) Update Service

[Service]
Type=oneshot
User=bridgehead
WorkingDirectory=/srv/docker/bridgehead/

ExecStart=/srv/docker/bridgehead/update-bridgehead.sh %i

[Install]
WantedBy=multi-user.target