[Unit]
Description=Bridgehead (%i) Service

[Service]
User=bridgehead
Restart=always
RestartSec=30

WorkingDirectory=/srv/docker/bridgehead/

ExecStartPre=exec /srv/docker/bridgehead/stop-bridgehead.sh %i
ExecStart=exec /srv/docker/bridgehead/start-bridgehead.sh %i
ExecStop=exec /srv/docker/bridgehead/stop-bridgehead.sh %i

[Install]
WantedBy=multi-user.target
