[Unit]
Description=Bridgehead (%i) Update Service

[Service]
Type=oneshot
WorkingDirectory=/srv/docker/bridgehead/
ExecStart=/bin/bash -c "/srv/docker/bridgehead/update-bridgehead.sh %i"

[Install]
WantedBy=multi-user.target
