[Unit]
Description=Traefik Service
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=30

WorkingDirectory=/srv/docker/bridgehead

ExecStartPre=/usr/local/bin/docker-compose --env-file site-config/start.env down
ExecStartPre=/usr/local/bin/docker-compose --env-file site-config/start.env rm
ExecStart=/usr/local/bin/docker-compose --env-file site-config/start.env up

ExecStop=/usr/local/bin/docker-compose --env-file site-config/start.env down

[Install]
WantedBy=multi-user.target
